body {
    background-image: url(media/Background-3.JPEG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color:rgb(222, 205, 182)
}
.text {
padding-top: 30px;
font-family: 'MedievalSharp', cursive;
text-align: center;
font-size: 60px;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.quote {
    margin-top: 410px;
    margin-bottom: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(91, 27, 0);
    width: 190px;
    height: 87px;
    background-color: rgb(222, 205, 182);
    padding-top: 1px;
    padding-bottom: 14px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    color:black;
}
.funfacts {
    background-color: black;
    width: 190px;
    height: 87px;
    font-size: 20px;
    align-self: center;
    padding-left: 20px;
}

.funfacts a {
    text-decoration: none;
    color:rgb(222, 205, 182);
}

.funfacts a:hover {
    color:rgb(91, 27, 0);
}
.resources {
    background-color: black;
    width: 190px;
    height: 87px;
    font-size: 20px;
    align-self: center;
}
.resources a {
    text-decoration: none;
    color: rgb(222, 205, 182);
}
.resources a:hover {
    color:rgb(91, 27, 0);
}
